{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>

  <h2 style="margin-left: 50px;">Федоркевич Артем Николаевич</h2>
  <hr color="#010101" />
<p class="head" style="margin-left: 50px;"><b>Дата рождения:</b> 3 апреля 1993 г.
  <img src="{% static 'photomy.png' %}" style="position:absolute;top:170px; left:950px" width="131" height="173">
  <br><b>Национальность:</b> белорус.
  <br><b>Телефон:</b> +375447925704 (MTC)
  <br><b>Эл. почта:</b> <a href="mailto:artem.fedorkevich@gmail.com">artem.fedorkevich@gmail.com<a/>
  <br><b>Aккаунт Github:</b> <a href="https://github.com/ArtemFedorkevich">https://github.com/ArtemFedorkevich</a>
  <br><b>Аккаунт Linkedin:</b> <a href="https://www.linkedin.com/in/artsiom-fedarkevich-0058b5115/">
              https://www.linkedin.com/in/artsiom-fedarkevich-0058b5115/</a>
  <br><b>Адрес:</b> 223042, Семково, ул. Центральная 1В-49
</p>
  <hr color="#010101" />

<p class="head"  style="margin-left: 100px; font-size: 150%;" ><b>Общая информация</b></p>
<p style="margin-left: 50px;">
  <b>Должность:</b> Junior Python developer
  <br><b>Зарплата:</b> по результатам собеседования.
  <br><b>Занятость:</b> полный день.
  <br><b>Ожидания от работы:</b> начать карьеру Backend-разработчика, совершенствовать профессиональные навыки, дорасти до позиции тимлида.
</p>
<br>

<p class="head"  style="margin-left: 100px; font-size: 150%;" ><b>Навыки</b></p>
<p class="head"  style="margin-left: 100px"><b>Python</b></p>
<ul style="margin-left: 29px;">
    <li >Работа с Python3</li>
    <li>Работа с реляционными базами данных (sqlite3, MySQL)</li>
    <li>PyQt5, Pygame</li>
    <li>Работа с файловой системой и файлами</li>
    <li>Работа с Django(MVC)</li>
</ul>
<p class="head" style="margin-left: 50px;">(основные проекты:
<a href="https://github.com/ArtemFedorkevich/Finalwork">https://github.com/ArtemFedorkevich/Finalwork</a>,
<a href="https://github.com/ArtemFedorkevich/Presentation_of_projects">https://github.com/ArtemFedorkevich/Presentation_of_projects</a>)<br>
</p>
<br>

<p class="head"  style="margin-left: 100px; font-size: 150%;" ><b>Знания в других областях</b></p>
<ul style="margin-left: 29px;">
    <li >Работа с операционной системой Windows (7,10), Linux</li>
    <li>Хорошие знания ПК (MS Office)</li>
    <li>Базовые знания  HTML</li>
    <li>Знание базовых парадигм ООП</li>
    <li>Основы работы с Git</li>
</ul>
<br>

<p class="head"  style="margin-left: 100px; font-size: 150%;" ><b>Образование</b></p>
<table style="margin-left: 50px;">
  <tr>
    <td width=150px height=55px valign="top">Ноябрь 2016 г. –<br> ноябрь 2019 г.</td>
    <td valign="top"><b>Аспирантура НАН Б</b><br>
Специальность: органическая химия</td>
  </tr>

  <tr>
    <td width=150px height=55px valign="top">Ноябрь 2015 г. –<br> ноябрь 2016 г.</td>
    <td valign="top"><b>Магистратура НАН Б</b><br>
Специальность: органическая химия</td>
  </tr>

  <tr>
    <td width=150px height=55px valign="top">Сентябрь 2010 г. –<br>  июнь 2015 г.</td>
    <td valign="top"><b>Белорусский государственный университет.
      Химический факультет.</b><br>
Специальность: Химия. Научно-производственная деятельность.
</td>
  </tr>
</table>

<p class="head"  style="margin-left: 100px; font-size: 125%;" ><b>Курсы</b></p>
<table style="margin-left: 50px;">
  <tr>
    <td width=150px height=35px valign="top">2021 г.</td>
    <td valign="top">Курсы школы программирования «IT OVERONE» (курс по Python).</td>
  </tr>

  <tr>
    <td width=150px height=35px valign="top">2021 г.</td>
    <td valign="top">Курс по Machine Learning компании DataWorkshop.</td>
  </tr>

  <tr>
    <td width=150px height=75px valign="top">2020 г.</td>
    <td valign="top">Курсы образовательной платформы «Stepik»<br>
(«Программирование на Python», «Введение в базы данных», «Python: основы и применение», «Алгоритмы: теория и практика. Методы», «ОСНОВЫ Html & CSS»)
</td>
  </tr>

  <tr>
    <td width=150px height=35px valign="top">2014 г.</td>
    <td valign="top">Курс академии ЗАО «Технологии качества» («Базовый курс тестирования программного обеспечения»).</td>
  </tr>

  <tr>
    <td width=150px height=35px valign="top">2013 г.</td>
    <td valign="top">Курсы английского языка в школе «Streamline» (уровень «Intermediate»).</td>
  </tr>
</table>
<br>
<p class="head"  style="margin-left: 100px; font-size: 150%;" ><b>Опыт работы</b></p>
<table style="margin-left: 50px;">
  <tr>
    <td width=150px height=160px valign="top">Сентябрь 2016 г. – <br>октябрь 2021 г.</td>
    <td valign="top"><b>Институт физико-органической химии НАН Беларуси<br>
Научный сотрудник лаборатории химии биоконьюгатов</b><br>
      <b>Обязанности:</b> синтез и исследование биологической активности лекарственных соединений,
      производство полезных химических продуктов, сертификация и контроль качества коммерческих продуктов,
      обсуждение с заказчиком условий поставки коммерческих продуктов, компьютерное моделирование химических процессов.<br>
      <b>Достижения:</b>разработал схемы синтеза многих новых для лаборатории коммерческих продуктов,
      что позволило значительно увеличить количество запросов на реализацию коммерческих продуктов.</td>
  </tr>
<tr>
    <td width=150px height=120px valign="top">Август 2015 г. –<br>август 2016 г.</td>
    <td valign="top"><b>Институт биоорганической химии НАН Беларуси<br>
Младший научный сотрудник лаборатории химии нуклеотидов и полинуклеотидов</b><br>
      <b>Обязанности:</b> синтез и исследование биологической активности лекарственных соединений.<br>
      <b>Достижения:</b>улучшил схему синтеза важного для клинической терапии хронического миелойдного лейкоза
  препарата – иматиниба, что позволило значительно снизить материальные затраты, при производстве препарата.</td>
</tr>
<tr>
    <td width=150px height=140px valign="top">Ноябрь 2014 г. – <br>февраль 2015 г.</td>
    <td valign="top"><b>Компания A1QA<br>Функциональный тестировщик
</b><br>
      <b>Обязанности:</b> функциональное тестирование ПО (работа над проектом системы онлайн оплаты забронированных гостиничных номеров),
  оценка качества протестированного продукта.<br>
      <b>Достижения:</b>исправление ошибок в проекте позволило значительно снизить материальные затраты,
  после его реализации для широкого круга пользователей.</td>
</tr>
<tr>
    <td width=150px height=100px valign="top">Октябрь 2012 г. – <br>ноябрь 2016 г.</td>
    <td valign="top"><b>ГУО «Минский государственный областной лицей»<br>Учитель дополнительного образования
</b><br>
      <b>Обязанности:</b> подготовка учащихся к республиканской и международным олимпиадам по химии.<br>
      <b>Достижения:</b>подготовил победителей республиканской и международных олимпиад по химии.</td>
</tr>
</table>
<br>
<p class="head"  style="margin-left: 100px; font-size: 150%;" ><b>Прочие профессиональные навыки и знания</b></p>
<ul style="margin-left: 29px;">
    <li >Организаторские навыки (организация и проведение республиканской
      олимпиады по химии, постоянный член жюри с 2011 года).
    </li>
    <li>Английский язык — уровень «Intermediate» (сертификат школы английского языка «Streamline»).</li>
    <li>Умение работать в команде.</li>
    <li>Высокая работоспособность.</li>
    <li>Гибкость мышления.</li>
    <li>Добросовестное выполнение поставленных задач.</li>
</ul>
<br>

<p class="head"  style="margin-left: 100px; font-size: 150%;" ><b>Прочее</b></p>
<ul style="margin-left: 29px;">
    <li >Семейный статус – холост.
    </li>
    <li>Хобби: читаю литературу по компьютерной тематике, преподаю танцы в школе танцев «Квартал» (направление – линди хоп).</li>
    <li>Имею права категории В.</li>
    <li>Причина поиска новой работы: развитие в сфере IT, желание быть более гибким и мобильным в плане работы.</li>
    <li>Согласен на возможные длительные командировки.</li>
</ul>
<br>
<p class="head"  style="margin-left: 50px;">Вся дополнительная информация может быть представлена по запросу.</p>
<br>
{% endblock %}